[user]
	name = Canvas-xxx
	email = s.worachote@hotmail.com
[core]
	excludesfile = ~/.config/git/ignore
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = ~/.config/git/commit-template
[push]
	autoSetupRemote = true
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
